<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>statsprofitmargin</name>
	<displayName><![CDATA[Profit margin calculator]]></displayName>
	<version><![CDATA[0.6]]></version>
	<description><![CDATA[Displays a column with the profit margin for each order in the "Orders" tab.]]></description>
	<author><![CDATA[Rafa Soler]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
