<li class="nav-item">
    <a class="nav-link" id="profitMarginTab" data-toggle="tab" href="#profitMarginTabContent">
        <i class="material-icons">account_balance</i>
        {{ 'Profit margin'|trans({}, 'Modules.statsprofitmargin.Admin') }}
    </a>
</li>